{% extends "base.html" %}

{% block title %}{{ block.super }} Album: {{ album.artist }}, {{ album.title }}{% endblock title %}

{% block content %}
    <h1>Album: {{ album.title }} {% if album.artist %}(<a href="{% url 'artist_detail' album.artist.id %}">{{ album.artist }}</a>){% endif %}</h1>

    <p>
        {% if album.year %}<strong>Year</strong>: {{ album.year }}{% endif %}
        {% if album.album_rating %} | <strong>Album Rating</strong>: {{ album.get_album_rating }}{% endif %}
    </p>

    <table class="table table-striped">
        <tr>
            <th>Track</th>
            <th>Title</th>
            <th>Play Count</th>
        </tr>
        {% for track in tracks %}
        <tr>
            <td>{{ track.track_number }}</td>
            <td><a href="{% url 'track_detail' track.persistent_id %}">{{ track.title }}</a></td>
            <td>{{ track.play_count }}</td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}
