{% extends "base.html" %}

{% block title %}{{ block.super }} Artist: {{ artist.name }}{% endblock title %}

{% block content %}
    <h1>Artist: {{ artist.name }}</h1>

    {% if albums %}
        <h3>Albums:</h3>
        <div class="table-responsive">
          <table class="table table-striped">
              {% for album in albums %}
              <tr>
                  <td><a href="{% url 'album_detail' album.id %}">{{ album.title }}</a></td>
                  <td>{{ album.year|default_if_none:"" }}</td>
              </tr>
              {% endfor %}
          </table>
    {% else %}
        <p>This artist does not appear on any albums (or a bug prevented the album reference).</p>
    {% endif %}

{% endblock %}
