{% extends "base.html" %}

{% block title %}{{ block.super }} List of Media Kinds{% endblock title %}

{% block content %}
    <h1>Kind List ({{kind_list.count}})</h1>

    {% if kind_list %}

    <div class="table-responsive">
      <table class="table table-striped">
          <th>Kind</th>
          <th>Track Count</th>
          {% for kind in kind_list %}
          <tr>
              <td><a href="{% url 'kind_detail' kind.id %}">{{ kind.name }}</a></td>
              <td>{{ kind.track_set.all.count }}</td>
          </tr>
          {% endfor %}
      </table>
    </div>

    {% include 'include/pagination.html' %}

    {% else %}
      <p>There are no kinds in the library.</p>
    {% endif %}
{% endblock %}
