{% extends "base.html" %}

{% block title %}{{ block.super }} Playlist: {{ playlist.name }}{% endblock title %}

{% block content %}
    <h1>Playlist "{{ playlist.name }}"</h1>

    {% if tracks %}
        <div class="table-responsive">
          <table class="table table-striped">
              <th>Track</th>
              <th>Artist</th>
              <th>Album</th>

              {% for track in tracks %}
              <tr>
                  <td><a href="{% url 'track_detail' track.persistent_id %}">{{ track.title }}</a></td>
                  <td><a href="{% url 'artist_detail' track.get_artist.id %}">{{ track.get_artist }}</a></td>
                  <td><a href="{% url 'album_detail' track.album.id %}">{{ track.album }}</a></td>
              </tr>
              {% endfor %}
          </table>

        </div>

        {% if tracks.paginator.num_pages > 1 %}
            {% include 'include/pagination.html' with page_obj=tracks %}
        {% endif %}
    
    {% else %}
        <p>There are no tracks in this playlist.</p>
    {% endif %}
{% endblock %}
