{% extends "base.html" %}

{% block title %}{{ block.super }} Track List{% endblock title %}

{% block content %}
    <h1>Track List</h1>

    {% if track_list %}
        <div class="table-responsive">
          <table class="table table-striped">
              <th>Track</th>
              <th>Artist</th>
              <th>Album</th>
              {% for track in track_list %}
              <tr>
                  <td><a href="{% url 'track_detail' track.persistent_id %}">{{ track.title }}</a></td>
                  <td>{{ track.get_artist }}</td>
                  <td>{{ track.album }}</td>
              </tr>
              {% endfor %}
          </table>
        </div>

    {% include 'include/pagination.html' %}

    {% else %}
        <p>There are no tracks in the library.</p>
    {% endif %}
{% endblock %}
