{% extends "base.html" %}
{% load bootstrap_pagination %}

{% block title %}{{ block.super }} Track List{% endblock title %}

{% block content %}
    <h1>Track List</h1>

    {% if tracks %}
        <div class="table-responsive">
          <table class="table table-striped">
              <th>Track</th>
              <th>Artist</th>
              <th>Album</th>
              <th>Year</th>
              <th>Genre</th>
              {% for track in tracks %}
              <tr>
                  <td><a href="{% url 'track_detail' track.persistent_id %}">{{ track.title }}</a></td>
                  <td>{{ track.get_artist }}</td>
                  <td>{{ track.album }}</td>
                  <td>{{ track.year|default_if_none:"" }}</td>
                  <td>{{ track.genre|default_if_none:"" }}</td>
              </tr>
              {% endfor %}
          </table>
        </div>

        {% if tracks.paginator.num_pages > 1 %}
            {% include 'include/pagination.html' with page_obj=tracks %}
        {% endif %}

    {% else %}
        <p>There are no tracks in the library.</p>
    {% endif %}
{% endblock %}
