{% extends "base.html" %}
{% load bootstrap_pagination %}

{% block title %}{{ block.super }} Track List{% endblock title %}

{% block content %}
    <h1>Tracks</h1>

    <form class="form-inline" style="margin-bottom: 10px;">
        <div class="form-group">
            <select class="form-control" id="genre_select">
                <option value="">Genre</option>
                {% for g in genres %}
                    <option value="{{ g.id }}" {% if g.id == genre %}selected{% endif %}>{{ g.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <select class="form-control" id="year_select">
                <option value="">Year</option>
                {% for y in years %}
                    <option value="{{ y }}" {% if y == year %}selected{% endif %}>{{ y }}</option>
                {% endfor %}
            </select>
        </div>
    </form>

    {% if tracks %}
        <div class="table-responsive">
          <table class="table table-striped">
              <th>Track</th>
              <th>Artist</th>
              <th>Album</th>
              <th>Year</th>
              <th>Genre</th>
              {% for track in tracks %}
              <tr>
                  <td><a href="{% url 'track_detail' track.persistent_id %}">{{ track.title }}</a></td>
                  <td>{{ track.get_artist }}</td>
                  <td>{{ track.album }}</td>
                  <td>{{ track.year|default_if_none:"" }}</td>
                  <td>{{ track.genre|default_if_none:"" }}</td>
              </tr>
              {% endfor %}
          </table>
        </div>

        {% if tracks.paginator.num_pages > 1 %}
            {% include 'include/pagination.html' with page_obj=tracks %}
        {% endif %}

    {% else %}
        <p>There are no tracks in the library.</p>
    {% endif %}
{% endblock %}

{% block extra_js %}
    <script>
        // As params are toggled, don't leave the old ones in place
        function replaceUrlParam(url, paramName, paramValue){
            if(paramValue == null)
                paramValue = '';
            var pattern = new RegExp('\\b('+paramName+'=).*?(&|$)')
            if(url.search(pattern)>=0){
                return url.replace(pattern,'$1' + paramValue + '$2');
            }
            return url + (url.indexOf('?')>0 ? '&' : '?') + paramName + '=' + paramValue
        }

        $(function(){
            $('#genre_select').on('change', function () {
                var url = replaceUrlParam(window.location.href, "genre", $(this).val());
                window.location = url;
                return false;
            });
        });

        $(function(){
            $('#year_select').on('change', function () {
                var url = replaceUrlParam(window.location.href, "year", $(this).val());
                window.location = url;
                return false;
            });
        });
    </script>
{% endblock extra_js %}
