{% extends "base.html" %}

{% block title %}{{ block.super }} Track: {{ track.get_artist }}, {{ track.title }}{% endblock title %}

{% block content %}
    <h1>Track: {{ track.title }}</h1>
    <p>Artist: {{ track.get_artist }}</p>
    <p>Persistent ID: {{ track.persistent_id }}</p>
    <p>Loved: {{ track.loved }}</p>
    <p>Total time: {{ track.total_time }}</p>
    {% if track.album %}
        <p>Album: <a href="{% url 'album_detail' track.album.id %}">{{ track.album }}</a></p>
    {% endif %}
{% endblock %}
