{% extends "base.html" %}

{% block title %}{{ block.super }} Album: {{ album.artist }}, {{ album.title }}{% endblock title %}

{% block content %}
    <h1>Album: {{ album.title }} {% if album.artist %}{% endif %}</h1>

    <p>
        {% if album.artist %}<strong>Artist</strong>: <a href="{% url 'artist_detail' album.artist.id %}">{{ album.artist }}</a>{% endif %}
        {% if album.year %} &nbsp;  &nbsp;  <strong>Year</strong>: <a href="{% url 'tracks' %}?year={{ album.year }}">{{ album.year }}</a>{% endif %}
        &nbsp; &nbsp;  <strong>Album Loved</strong>: {% if album.album_loved %}<i class="fa fa-heart"></i>{% else %}<i class="fa fa-heart-o"></i>{% endif %}
        {% if album.album_rating %} &nbsp; &nbsp;  <strong>Album Rating</strong>: {{ album.get_album_rating }}{% endif %}
    </p>

    <table class="table table-striped">
        <tr>
            <th>{% if multidisc %}Disc - Track{% else %}Track{% endif %}</th>
            <th>Title</th>
            <th>Play Count</th>
        </tr>
        {% for track in tracks %}
            <tr>
                <td>{% if multidisc %}{{ track.disc_number }} - {% endif %}{{ track.track_number }}</td>
                <td><a href="{% url 'track_detail' track.persistent_id %}">{{ track.title }}</a></td>
                <td>{{ track.play_count|default_if_none:0 }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
